# config/packages/nelmio_cors.yaml
nelmio_cors:
    defaults:
        allow_credentials: false
        allow_origin: ['*']  # Adjust this to your frontend's origin
        allow_headers: ['Content-Type', 'Authorization','X-Requested-With','X-AUTH-TOKEN']
        allow_methods: ['GET', POST', 'OPTIONS', 'PUT', 'DELETE']
        expose_headers: []
        max_age: 3600
        hosts: []
    paths:
        '^/api/':  # Adjust this path to match your API routes
            allow_origin: ['*']
            allow_headers: ['Content-Type', 'Authorization','X-Requested-With','X-AUTH-TOKEN']
            allow_methods: ['GET', 'POST', 'OPTIONS', 'PUT', 'DELETE']
            max_age: 3600
